@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Kolker+Brush&family=Lobster&family=Tilt+Neon&family=Young+Serif&display=swap');
body{
    margin: 50px 50px;
}
h1{
    font-family: 'Young Serif', serif;
}
section{
    width: 700px;
    margin: 0 auto;
}
p{
    conlor: #333;
}