@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Kolker+Brush&family=Lobster&family=Tilt+Neon&family=Young+Serif&display=swap');
body{
    margin: 50px 50px;
}
h1{
    font-family: 'Young Serif', serif;
}
section{
    width: 700px;
    margin: 0 auto;
}
p{
    color: gray;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
}
p span{
    color: orangered;
}
.form-item{
    position: relative;
    border : 1px solid rgb(169, 167, 167);
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    padding-right: 10px;
    z-index: 100;
    margin-bottom: 30px;
}
/* name */
.form-name:before{
    content: 'Enter your name';
    position: absolute;
    width: 150px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    top: -50px;
    left: 43px;
    display: none;
}
/* email */
.form-email:before{
    content: 'Enter your email';
    position: absolute;
    width: 150px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    top: -50px;
    left: 43px;
    display: none;
}
.form-email:hover::before{
    display: flex;
}
/* phone */
.form-phone:before{
    content: 'Enter your phone';
    position: absolute;
    width: 150px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    top: -50px;
    left: 43px;
    display: none;
}
.form-phone:hover::before{
    display: flex;
}
.form-name:hover::before{
    display: flex;
}
.form-item:hover{
    border-color: black;
}
.form-item:hover span{
    background-color: black;
}
.form span{
    background: grey;
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form span{
    font-size: 20px;
}
.form input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
}
.form input + i{
    font-size: 10px;
}