body{
    margin: 50px 50px;
}
label{
    background-color: orangered;
}
article{
    width: 600px;
    margin: 0 auto;
}
label{
    width: 600px;
    display: block;
    padding: 10px 0 10px 0;
    margin-bottom: 30px;
    color: white;
    border-radius: 5px;
}
.text{
    display: none;
}
input[type ="radio"]:checked ~ .text{
    display: block;
}