body{
    margin: 50px 50px;
}
label{
    background-color: orangered;
}
article{
    width: 600px;
    margin: 0 auto;
}
input{
    display: none;
}
label{
    width: 600px;
    display: block;
    padding: 10px 0 10px 0;
    margin-bottom: 30px;
    border-radius: 5px;
    position: relative;
    padding-left: 30px;
    color: white;
}
label::before{
    content:'+';
    position: absolute;
    font-size: 30px;
    top: 0;
    left: 10px;
}
.text{
    display: none;
    position: absolute;
   
}
input[type ="radio"]:checked ~ .text{
    display: block;
}
.bonus{
    margin-bottom: 150px;
}