section{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.list-products{
    margin-top: 100px;
}
.item{
    width: 300px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
    padding: 10px 13px;
    border-radius: 10px;
    height: 400px;
}
.item span{
    display: inline-block;
    margin-top: 15px;
    padding: 25px 30px;
    border: 1px solid #f2a83a;
    border-radius: 50%;
    font-size: 50px;
}
.item p{
    margin-bottom: 30px;
}