section{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.list-products{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item{
    width: 300px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
    padding: 10px 13px;
    border-radius: 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item span{
    display: inline-block;
    padding: 25px 30px;
    border: 1px solid #f2a83a;
    border-radius: 50%;
    font-size: 50px;
}
.item p{
    margin-bottom: 30px;
}
button{
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background:#f2a83a;
    color: white;
}
button:hover{
    background-color: tomato;
}
