@import "reset";
@import "variables";
@import "mixins";
html {
    font-size: 62,5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Sofia Sans', sans-serif;
}
input{
    font-family: 'Sofia Sans', sans-serif;
}   
a{
    text-decoration: none;
}
.container {  
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "sidebar header header header header"
      "sidebar main main main main"
      "sidebar main main main main"
      "sidebar main main main main"
      "sidebar main main main main";
  }
.sidebar { 
    grid-area: sidebar; 
    
}
.header { 
    grid-area: header; 
}
.main { 
    grid-area: main; 
}
  