@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Kolker+Brush&family=Lato&family=Lobster&family=Open+Sans:wght@300&family=Roboto:wght@400;500&family=Tilt+Neon&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ebf5fe;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
span{
    padding: 20px 20px;
    margin-right: 15px;
}
b{
    font-size: 25px;
    font-weight: bold;
    width: 154px;
    display: inline-block;
}
i{
    font-size: 25px;
}
p{
    color: #666666;
}
.item1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:20px 20px;
    max-width: 30%;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 50px;
}
/* item1 */
.item1-heading{
    display: flex;
    align-items: center;
}
.item1-heading span{
    background: #e4696a;
    border-radius: 50% ;
    color: white;
    box-shadow: 0 0 20px  #e4696a;
}
.item1-content{
    /* width: 70%; */
    line-height: 1.4;
    margin-top: 20px;
}
a{
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    margin-top: 30px;
}
/* item2 */
.green span{
    background: #68c4a0;
    box-shadow: 0 0 20px  #68c4a0;
}
.orangered span{
    background:#e49135;
    box-shadow: 0 0 20px  #e49135;
}
.blue span{
    background:#366ed0;
    box-shadow: 0 0 20px  #366ed0;
}
.purple span{
    background:#7a2acf;
    box-shadow: 0 0 20px  #7a2acf;
}
.green-last span{
    background:#6b8d2f;
    box-shadow: 0 0 20px #6b8d2f;
}
/* hover */
.item-one:hover{
    outline: 2px solid #e4696a;
}
.item2:hover{
    outline: 2px solid #68c4a0;
}
.item3:hover{
    outline: 2px solid #e49135;
}
.item4:hover{
    outline: 2px solid #366ed0;
}
.item5:hover{
    outline: 2px solid #7a2acf;
}
.item6:hover{
    outline: 2px solid #6b8d2f;
}