@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    
}
.header,
#delivery,
#banner,
#serve .wrapper,
#choose,
#download .wrapper,
#footer{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
h2{
    font-size: 40px;
    line-height: 1.4;
    margin-bottom: 20px;
}
h5{
    font-size: 20px;
    font-weight: 400;
    color:#f45253;
}
p{
    font-size: 20px;
    color: #676767;
    margin-bottom: 40px;
}
.banner-button a,
.choose-button a,
.delivery-button a{
    width: 170px;
    height: 70px;
    background:#f45253;
    color: white;
    border-radius: 10px;
    border: 1px solid #f45253;
    font-size: 20px;
    font-weight: bold;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.banner-button a:hover,
.choose-button a:hover,
.delivery-button a:hover{
    color:#f45253;
    background: white;
}
/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.header .logo{
    width: auto;
}
.header .logo img{
    width: 100%;
}
.header .navbar li{
    list-style: none;
    display: inline-block;
}
.header .navbar li a{
    text-decoration: none;
    color: black;
    margin: 0 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: color .2s ease-in-out;
}
.header .navbar li:nth-child(1) a{
    color: #f45253;
}
/* navbar hover */
.header .navbar li a:hover{
    color:#f45253;
}
.header-search{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px 15px 40px;
    border-radius: 10px;
    box-shadow: 0 3px 20px grey;
}
.header-search input{
    width: 100%;
    height: 100%;
    border:none;
    outline:none;
    font-weight: 600;
}
.header-search input::placeholder{
    color: black;
    font-weight: bold;
}
.icon-search{
    opacity: 0.6;
    font-size: 16px;
    position: absolute;
    left: 13px;
}
.icon-cart{
    font-size: 18px;
    position: absolute;
    right: 15px;
}
.icon-cart::before{
    content: '';
    position: absolute;
    width: 2px;
    border-radius: 5px;
    height: 100%;
    background: rgba(128, 128, 128, 0.717);
    left: -13px;
}
.icon-cart::after{
    content: '2';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background:#f45253;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    top: -24px;
    left: 12px;
}
/* Banner */
#banner{
    padding: 80px 0;
}
.banner-top{
    display: flex;
    align-items: center;
    background-color: #fdeced;
    color:#f45253;
    padding: 12px 16px;
    width: fit-content;
    border-radius: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}
.banner-top h3{
    font-weight: 400;
    margin-right: 10px;
}
.banner-bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner-content{
    max-width: 600px;
    width: 100%;
}
.banner-img{
    max-width: 630px;
    width: 100%;
}
.banner-img img{ 
    width: 100%;
}
.banner-content h1{
    font-size: 74px; 
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    margin-bottom: 20px;
}
.banner-content h1 span{
    color:#f45253;
}
.banner-content p{
    font-size: 20px;
    color: #676767;
    margin-bottom: 30px;
}
.banner-button{
    display: flex;
    align-items: center;
}
.banner-button__right{
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-button__right img{
    width: 50px;
    box-shadow: 0 3px 20px gray;
    border-radius: 100%;
    margin-right: 10px;
}
.banner-button__right span{
    font-size: 20px;
    font-weight: 400;
}
/* serve */
#serve{
    padding: 100px 0;
    background: #fff5f5;
}
.serve-top{
    text-align: center;
}
.serve-top h5{
    font-size: 20px;
    font-weight: 400;
    color:#f45253;
}
.serve-top h2{
    font-size: 35px;
    max-width: 50%;
    width: 100%;
    margin:0 auto;
}
.serve-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.box-item {
    max-width: 29%;
    width: 100%;
    height: 350px;
    position:relative;
}
.item{
    width: 100%;
    height: 350px;
    padding: 50px 28px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    text-align: center;
    border-radius: 10px;
    position: relative;
    z-index: 9;
}
.item-bottom h3{
    margin-bottom: 20px;
}
.item-bottom p {
    color:#676767;
}
/* item hover */
.item-shadow{
    position: absolute;
    width: 100%;
    height: 106%;
    background:#f45253;
    border-radius: 10px;
    top: -3px;
    left: 19px;
    transform: rotate(0deg);
    transition-property: transform opacity;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    opacity: 0;
}
.item:hover ~ .item-shadow{
    transform: rotate(-3deg);
    opacity: 1;
} 
/* choose */
#choose{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choose-left{
    max-width: 700px;
    width: 100%;
}
.choose-left img{
    width: 100%;
}
.choose-right{
    max-width: 450px;
    width: 100%;
}
.choose-right h5{
    color: #03A66B;
    margin-bottom: 10px;
}
.choose-right h2{
    margin-bottom: 20px;
}
.choose-right p{
    margin-bottom: 40px;
}
/* delivery */
#delivery{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delivery-content{
    max-width: 44%;
    width: 100%;
}
.delivery-img{
    max-width: 50%;
    width: 100%;
}
.delivery-img img{
    width: 100%;
}
.delivery-content h5{
    color: #ffc107;
}
/* download */
#download{
    padding: 50px 0;
    background-color: #fdeced;
}
#download .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.download-img{
    padding-left: 100px;
}
.download-content {
    max-width: 50%;
    width: 100%
}
.download-content p{
    margin-bottom: 50px;
}
.download-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}
.apple-btn,
.androi-btn{
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
.apple-btn img,
.androi-btn img{
    margin-right: 13px;
}
/* footer */
#footer{
    padding: 50px 0;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.footer-top__menu{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex: 5;
}
.footer-top__logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-top__logo{
    flex: 3;
}
.footer-top__logo p{
    font-size: 16px;
    max-width: 312px;
    width: 100%;
    margin-top: 20px;
}
.menu-mega__item h3{
    margin-bottom: 10px;
    font-weight: 600;
}
.menu-mega__item ul li{
    list-style: none;
    line-height: 2.4;
}
.menu-mega__item ul li a{
    text-decoration: none;
    color: #676767;
}
.menu-mega__item ul li a:hover{
    color: black;
}
.menu-mega__item p{
    max-width: 266px;
    width: 100%;
    font-size: 16px;
    line-height: 2;
}
#footer hr {
    color: #676767;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.footer-bottom p{
    margin-bottom: initial;
    font-size: 16px;
}
.footer-bottom-left a{
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
    color:#676767;
    font-weight: 500;
}
.footer-bottom-left a:hover{
    color: black;
}
/* responsive */
.overlay{
    position: fixed;
    inset: 0;
    background-color: gray;
    opacity: 0;
    z-index: 100;
    visibility: hidden;
    transition: all .3s ease-in-out;
}
/* .overlay.active{
    opacity: 0.6;
    visibility:visible;
    opacity: 1;
} */
@media (max-width: 1023px) {
    .navbar li{
        list-style: block;;
    }
}
