body{
    margin: 30px 50px;
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
form input{
display: block;
}
.contact-info{
    width: 30%;
}
.form{
    width: 70%;
}
h1{
    font-size: 45px;
}