body{
    margin: 50px 50px;
}
b{
    font-size: 30px;
}
ul{
    border: 2px solid gold;
    width: 600px;
}
ul li{
    list-style: none;
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: gold;
    font-size: 20px;
}
