body{
    margin: 50px 50px;
}
b{
    font-size: 30px;
}
.navbar{
    border: 2px solid gold;
    width: 600px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    padding: initial;
}
.navbar li{
    list-style: none;
    display: inline-block;
}
.navbar li a{
    text-decoration: none;
    color: gold;
    display: inline-block;
    font-size: 20px;
    padding: 10px 27px;
}
.navbar-gold{
    background-color: gold;
}
.navbar li a.navbar-gold{
    color: white;
}
.content{
    display: flex;
}
.content-desc{
    margin-top: 50px;
}
.content-desc p{
    width: 160px;
    font-size: 20px;
}