body{
    margin: 50px 50px;
}
b{
    font-size: 30px;
}
.navbar{
    border: 2px solid gold;
    width: 600px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    padding: initial;
}
.navbar li{
    list-style: none;
    display: inline-block;
}
.navbar li a{
    text-decoration: none;
    color: gold;
    display: inline-block;
    font-size: 20px;
    padding: 10px 27px;
}
.navbar-gold{
    background-color: gold;
}
.navbar li a.navbar-gold{
    color: white;
}
.content{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    background: rgb(209, 206, 206);
}
.content-desc{
    margin-top: 50px;
}
.content-desc p{
    width: 190px;
    font-size: 20px;
    color: grey;
}
.content-desc p a{
    color: gold;
}