*{
    margin: 0;
    padding: 0;
}
.container{
    width: 500px; 
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.item{
    width: 300px;
    position: relative;
    cursor: pointer;
    padding-bottom:10px ;
}
.item:hover button{
    background: brown;
    color: white;
}
.item::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 90%;
    background: rgb(183, 178, 178);
    top: 30px;
    right: 3px;
}
.item-content h2, 
.item-content p{
    margin-bottom: 20px;
}
.item-content p{
    opacity: 0.6;
}
.item-content button{
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.536);
    float: right;
    margin-right: 40px;
    transition: all .3s ease-in-out;
    background-color: rgba(128, 128, 128, 0.516);
}
.item-layout{
    position: absolute;
    top: 0;
    right: -88px;
}
.item-layout .circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:rgb(58, 249, 186);
    margin-right: 18px;
    box-shadow: 0px 0px 10px 6px rgb(62, 87, 79);
}
.circle + span {
    opacity: 0.6;
    font-size: 15px;
    font-weight: bold;
}

